/* overrides.css — custom style overrides */

.user-role-store_admin {
    /*
    .class-name {
        ---stuff---
    }
*/
}

/* Navigation menu adjustments */

li.nav-item {
    padding: 1px 6px 0 6px;
}

.ada-icon.contact {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#cat-menu-button:hover {
    transform: translateX(0) !important;
}

#cat-menu-button.ada-icon i {
    width: 28px;
}
